body {
	height: 100vh;
}

.main {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.board {
	display: grid;
	grid-template-columns: repeat(10, auto);
	margin: 20px;
	border: 2px solid black;
	box-sizing: border-box;
}

.cellPlayer,
.cellComp {
	padding: 20px;
	border: 1px solid black;
	cursor: crosshair;
	user-select: none;
}

.cellPlayer {
	pointer-events: none;
}

.ship {
	background-color: cyan;
}

.shot {
	background-color: rgb(150, 150, 150);
	pointer-events: none;
}

.ship.shot {
	background-color: red;
}
